php_flag display_errors on 
php_value error_reporting 7

ErrorDocument 404 http://www.summarizit.com/

<IfModule mod_rewrite.c>
    ############################################
    # Enable mod_rewrite
	options -multiviews
	Options +FollowSymlinks
    RewriteEngine On
    RewriteBase /
	DirectoryIndex index.php
	RewriteCond %{HTTP_HOST} !^www\.
	RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
    ############################################
    ## always send 404 on missing files in these folders
	RewriteCond %{REQUEST_FILENAME} !-f
    
	############################################
	RewriteRule ^member/([^/.]+)?$ member.php?seo=$1 [L]
	RewriteRule ^product/([^/.]+)?$ product.php?seo=$1 [L]

	RewriteCond %{REQUEST_FILENAME} !-d 
	RewriteCond %{REQUEST_FILENAME}\.php -f 
	RewriteRule ^(.*)$ $1.php
</IfModule>


