@import url('font-awesome.min.css');
@import url('font-awesome-social.css');
.thumbnail {
  a.thumb .overlay {
    opacity: 0;
    position: absolute;
    /*top: 0;*/
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 15px 15px 0px 15px;
    margin-bottom: 15px;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    height: 140px;
    color: #555;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    z-index: 1;
  }
  &:hover a.thumb .overlay, &:focus a.thumb .overlay {
    opacity: 1;
    z-index: 580;
  }
  .caption .btn-group {
    opacity: 0.5;
  }
  &:hover .caption .btn-group, &:focus .caption .btn-group {
    opacity: 1;
  }
}

.carousel {
  .carousel-control {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  &:hover .carousel-control, &:focus .carousel-control {
    opacity: 0.5;
  }
}

.span7.search-query {
  width: 150%;
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:focus {
    width: 175%;
    opacity: 1;
  }
}

.feedback li {
  padding-bottom: 5px;
}

.navbar .brand {
  width: 150px;
  height: 100%;
  background: transparent url('../img/logo_head.png') left center no-repeat;
  /*background-size: 220px 25px;*/
  text-indent: -9999px;
  margin-left: 0;
}

.product-container {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  position: relative;
  left: 0;
  opacity: 1;
  &.compared {
    // left: -710px;
    opacity: 0.02;
  }
}

.compare-container {
  height: 0;
  position: absolute;
  visibility: hidden;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  -ms-transition: opacity 100ms ease-in-out;
  -o-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  &.compared {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    background: rgba(255,255,255,0.97);
    padding-right: 20px;
    height: 95%;
  }
  .back-button {
    float:right;
  }
}


.user_name {
  margin-top: 1em;
}

.social_signin {
  float: right;
}

.btn-facebook {
  background: #4262a2;
  color: #fff;
  &:hover, &:focus {
    background: lighten(#4262a2, 5%);
    color: #fff;
  }
  &:active {
    background: darken(#4262a2, 10%);
    color: #fff;
  }
}
.btn-twitter {
  background: #00c8fd;
  color: #fff;
  &:hover, &:focus {
    background: lighten(#00c8fd, 5%);
    color: #fff;
  }
  &:active {
    background: darken(#00c8fd, 10%);
    color: #fff;
  }
}

.modal .close {
  position: relative;
  top: -6px;
  right: -6px;
}

.account_settings_wrap { display: none; }
.notification {
  line-height: 2em;
}
.message {
  line-height: 2em;
  position: relative;
  background: #f9f9f9;
  margin-bottom: 5px;
  padding: 1em;
}
.message_actions {
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  float: right;
  width: 0;
  height: 30px;
  overflow: hidden;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  &.active {
    opacity: 1;
    visibility: visible;
    width: auto;
  }
}
section {
  h2 {
    margin-top: 1em;
    margin-bottom:0;
    padding-bottom: 0;
    line-height: 0.7em;
    &:hover, &:focus {
     .section_hide { opacity: 1; }
    }
    .section_hide {
      float: right;
      opacity: 0.4;
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -ms-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
    }
  }
}
.level {
  // line-height: 2em;
  display: inline-block;

}

.btn-half {
  width: 37.95%;
}